/* adminDashboard.module.css */

.pageContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    margin: -10px;
    width: 100%; /* Ensure the page container takes full width */
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
    margin: 0 auto; /* Center the container */
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%; /* Full width for the cards container */
    max-width: 1200px; /* Add a max width to limit the container size */
    padding: 20px; /* Add padding around the container */
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #ced0d4, #fdfdfd), repeating-radial-gradient(circle at center center, #ced0d4, #ced0d4, 1px, transparent 5px, transparent 75px);
    background-blend-mode: multiply;
    width: 450px;
    height: 250px;
    border-radius: 20px;
    margin: 2%;
    border: 2px solid white;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.cardBody {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.cardTitle {
    color: #0B162B;
    font-size: 45px;
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    margin-right: auto;
}

.icon {
    font-size: 150px;
    background-color: #0B162B;
    border-radius: 10px;
    padding: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.cardHover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
}

.gradient3 {
    position: absolute;
    top: 0; /* Adjust to place it correctly */
    left: 0; /* Adjust to place it correctly */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure it covers the entire area */
    z-index: -1; /* Ensure it's behind other elements */
}

@media (max-width: 1180px) {
    .cardsContainer {
        margin-left: 5rem; /* You can adjust this as needed */
        margin-bottom: 0; /* Ensures there's no bottom margin */
        grid-gap: 20px;
        align-items: center;
        grid-template-columns: repeat(2, 1fr); /* 2 columns for iPad */
    }

    .card {
        width: 300px; /* Full width for cards */
        height: 250px; /* Fixed height for cards */
    }

    .icon {
        font-size: 100px;
    }

    .cardTitle {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .cardsContainer {
        margin :10px;
        align-items: center;
        grid-template-columns: 1fr; /* 1 column for mobile */
    }
    .card {
        height: auto; /* Allow cards to grow in height based on content */
        margin: 10px 0; /* Adjust margin for mobile devices */
    }
    .cardTitle {
        font-size: 50px; /* Smaller title font for mobile */
    }
}
